.transactionHistory {
  border-collapse: collapse;
  border: 1px solid grey;
}
th {
  padding: 10px;
  border: 1px solid grey;
  width: 150px;
  text-align: start;
  font-weight: bold;
  background-color: rgb(85, 87, 87);
  color: white;
}
td {
  padding: 10px;
  border: 1px solid grey;
}

.isOdd {
  background-color: white;
}
.isEven {
  background-color: rgb(245, 236, 236);
}
